<!DOCTYPE html>
<html>
  <head>
    <title>FacebookAuthChat</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <!--<#%= render 'shared/navbar' %> -->
    <%= render 'shared/flashes' %>
    <div class="container justify-content-sm-center" style="text-align: center; padding-top: 64px;">
      <% unless current_user %>
        <%= link_to "Continue with Facebook", user_facebook_omniauth_authorize_path, class: "btn-fb" %>
      <% else %>
        <!--
        <div>
          <%#= cl_image_tag current_user.image.key, height: 50, width: 50, crop: :fill, class: 'avatar' %>
        </div>
        -->
        <h1>Hello <%= current_user.name.split(" ")[0] %>!</h1>
        <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "btn-fb" %>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
